<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
        <title>json-alerts</title>
	</head>
	<body>
        <h1>json-alerts</h1>
        <ul>
            <li><a href="/alerts.json?p=63038">/alerts.json?p=63038</a></li>
            <li><a href="/alerts.json?p=Cook%20County">/alerts.json?p=Cook County</a></li>
            <li><a href="/alerts.json?p=Minneapolis,%20Minnesota">/alerts.json?p=Minneapolis, Minnesota</a></li>
            <li><a href="/alerts.json?p=Tulsa,%20OK">/alerts.json?p=Tulsa, OK</a></li>
            <li><a href="/alerts.json?p=Tulsa,%20OK&callback=foo">/alerts.json?p=Tulsa, OK&callback=foo</a></li>
            <li><a href="/alerts.json?p=Tulsa,%20OK&callback=foo.bar">/alerts.json?p=Tulsa, OK&callback=foo.bar</a></li>
        </ul>
        <p style="margin-top: 2em; font-size: 0.85em;">&copy;2008&nbsp;<a href="http://www.mrchucho.net/pages/contact/" style="text-decoration: none;">mrchucho.net</a></p>
	</body>
</html>
